body {
	background-color: darkblue;
	color: white;
	min-width: 200px;
	margin: 50px 200px 50px;
	font-size: 18px;
}

header {
	text-align: center;
	margin-bottom: 100px;
}

h2 {
	text-decoration: underline;
}

p {
	line-height: 20px;
	word-wrap: break-word;
}

section {
	margin-bottom: 80px;
}

a {
	text-decoration: none;
}

::selection {
	background-color: rgba(255, 255, 255, 0.9);
	color: darkblue;
}

ul.nav li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

section:first-child p,
section:first-child h2 {
	text-align: right;
}

.photo-block {
	position: relative;
	float: right;
	margin-left: 30px;
	margin-bottom: 30px;
}

.photo-block .photo {
	border: 2px solid paleturquoise;
}

.photo-block span {
	position: absolute;
	right: 10px;
	font-weight: bold;
	font-size: 28px;
	bottom: 70px;
}

hr {
	width: 30%;
	color: #ffffff;
	height: 0;
	box-shadow: 0 0 20px 3px #ffffff;
}

li {
	list-style: circle;
}

li:first-child,
li:nth-child(6) {
	list-style: disc;
}


table {
	margin-bottom: 80px;
}

td {
	padding: 5px 20px 5px;
}

a,
a:visited {
	color: white;
}

a:hover {
	color: paleturquoise;
}

a > img {
	width: 100px;
	border: none;
	float: left;
	margin-right: 20px;
}

span {
	line-height: 100px;
}

form label {
	float: left;
	width: 30%;
}

textarea {
	resize: vertical;
}

button {
	padding: 5px 10px;
}

.with-rgba {
	width: 100%;
	padding: 30px 10px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px dotted darkmagenta;
	margin-bottom: 100px;
}

.shadow {
	font-size: 32px;
	text-shadow: 10px 8px 3px darkmagenta;
}

.column {
	column-count: 2;
	column-gap: 80px;
	column-width: 100px;
	column-rule: 5px dotted darkmagenta;
}

#changeColor,
#css {
	width: 300px;
	height: 100px;
	border: 2px solid white;
	margin-top: 10px;
}

.darkmagenta {
	background-color: darkmagenta;
}

